body {
	background: url('rams.jpg');
    background-repeat: repeat-y;
}

h3 {
	font-family: 'VT323', monospace;
}

p {
	margin-bottom: 0px;
	font-size: 17px;
}

button {
	font-family: 'Signika', sans-serif;
	padding: 10px 15px;
	background: #4479BA;
	width: 15em;
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

button:hover, button:focus {
	background: #356094;
	border: solid 1px #2A4E77;
	text-decoration: none;
}

button.answer {
	border-radius: 5px;
	font-family: 'Signika', sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
}

.choice {
	height: 50px;
}

.container {
	max-width: 700px;
	margin: 50px auto;
	text-align: center;
}

.second {
	padding-bottom: 15px;
}

.status {
	text-align: right;
	margin: 10px;
}

.box {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-family: 'Signika', sans-serif;;
    -webkit-border-radius: 10px 10px 10px 10px;
	border: 10px ridge #6696CF;
	/*gradient*/
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(193,212,235,1) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(193,212,235,1)), color-stop(98%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(193,212,235,1) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(193,212,235,1) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(193,212,235,1) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(193,212,235,1) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.score-text {
	display: inline-block;
	float: left;
	text-align: left;
	margin: 10px;
}

.text-box {
	font-size: 20px;
	margin: auto 10px auto 10px;
}

.main-page, .question-page, .result-page, .end-page {
	margin-top: 40px;
}

.welcome {
	font-size: 30px;
}